services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app 
    volumes:
      - ./:/var/www/html
    environment:
      - APP_ENV=local
      - APP_DEBUG=true
      - DB_CONNECTION=pgsql
      - DB_HOST=db
      - DB_PORT=5432
      - DB_DATABASE=picpay
      - DB_USERNAME=postgres
      - DB_PASSWORD=2dsajd8210
      - QUEUE_CONNECTION=redis
      - CACHE_DRIVER=redis
      - REDIS_HOST=redis
    depends_on:
      - db
      - redis

  nginx:
    image: nginx:1.25
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 2dsajd8210
      POSTGRES_DB: picpay
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "54320:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "63790:6379"

  queue:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: queue
    command: php artisan queue:work --sleep=3 --tries=3
    volumes:
      - ./:/var/www/html
    depends_on:
      - redis
      - db

volumes:
  db_data:
